<ul>
    <li>FirstOption = @FirstOption</li>
    <li>SecondOption = @SecondOption</li>
</ul>

@code {
    [CascadingParameter]
    private string FirstOption { get; set; }

    [CascadingParameter]
    private string SecondOption { get; set; }
}
