@page "/button"
<div class="button_container">
    <button @onclick="ClickTheButton" type="button" class="
    button-style btn btn-primary">@label</button>
</div>
<style>
.button_container {
    display:flex;
    justify-content:center;
    margin:4px;
}
.button-style{
}
</style>

@code {
    [Parameter]
    public string? label { get; set; }
    [Parameter]
    public EventCallback OnButtonClick { get; set; }
    private async Task ClickTheButton()
    {
        await OnButtonClick.InvokeAsync();
    }
}
