@page "/dummy-component/{name?}"
@inject IJSRuntime JS
<div>
    Hello World,
</div>
@code {
    [Parameter]
    public string? name{ get; set; }
    protected override void OnInitialized()
    {
        CallJSFunction(name);
    }
    public void CallJSFunction(string myName)
    {
        JS.InvokeVoidAsync("Greeting", myName);
    }
}


