@page "/notify"
<div class="notify-container">
    <h1>Warning</h1>
    <p>@NotifyText</p>
   <div class="">
        <button type="button" class="btn btn-danger" @onclick="ClickTheMainButton">Confirm</button>
        <button type="button" class="btn btn-primary" @onclick="ClickTheSemiButton">Close</button>
   </div>
</div>


@code {
    [Parameter]
    public string NotifyText { get; set; }
    [Parameter]
    public EventCallback OnMainButtonClick { get; set; }
    [Parameter]
    public EventCallback OnSemiButtonClick { get; set; }
    private async Task ClickTheMainButton()
    {
        await OnMainButtonClick.InvokeAsync();
    }
   
    private async Task ClickTheSemiButton()
    {
        await OnSemiButtonClick.InvokeAsync();
    }
}
