.container[b-78f1vpdvw7] {
    padding-left: 14px;
}
.label[b-78f1vpdvw7] {
    font-size: 14px;
    padding-bottom: 4px;
    display: block;
}

.input-wrapper[b-78f1vpdvw7] {
    display: flex;
    align-items: center;
}

.input-item[b-78f1vpdvw7] {
    display: flex;
    align-items: center;
    padding-right: 18px;
}
input[b-78f1vpdvw7]{
    margin-right:12px;
}