.container[b-afy9df7a0a] {
    max-width:calc(100% - 40%);  
    margin-left: auto;
    margin-right: auto;
    padding:12px;
    border-radius:8px;
    border: 1px solid gray; 
}
.input-wrapper[b-afy9df7a0a] {
    display:flex;
}
