<h3>TabsComponent</h3>
<div>This is a TabControl</div>
<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

@code {
    // Next line is needed so we are able to add <TabPage> components inside
    [Parameter]
    public RenderFragment ChildContent { get; set; }    
}

